<body id='login-page'>
  <h1 id='login-intro'>What are you doing <%= @date_diff%> days from today?</h1>

  <%= form_tag('/login_attempt', method: 'get', enforce_utf8: false, id: 'login-form') do %>
    <%= password_field_tag 'pword_attempt', nil, id: 'pword-attempt', placeholder: 'password' %>
  <% end %>
</body>
