* {
  font-family: 'Roboto';
  margin: 0;
  /*background-color: #e5d9d0;*/
}

#std-header {
  background: url('seawave_bg2.jpg');
  padding-top: 2.5%;
  padding-bottom: 5%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  /*text-shadow: 2px 2px black;*/
  margin-bottom: 3%;
  color: white;
  text-align: center;
}

.std-infotitle h1 {
  font-size: 3.5em;
  margin-top: 1em;
  font-family: 'Dawning of a New Day';
}

.std-infotitle h2 {
  margin-top: .3em;
  font-family: 'Dawning of a New Day';
  font-size: 2.5em;
}

#std-title h2{
  margin-top: -1.5em;
  margin-bottom: .5em;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto';
}

#std-header .breaker {
  margin-top: 20%;
}

.breaker {
  text-align: center;
  /*margin: .5em;*/
}
/*FORM STYLING*/

.ss-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.ss-form-question {
  padding-bottom: 1em;
}

.ss-q-short, .ss-q-long, .ss-q-select, .required {
  height: 2em;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid black;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.2em;
}

.ss-q-title {
  font-size: 1.1em;
}
.ss-secondary-text {
  font-size: .9em;
}

/*Individual formatting*/
#first-name {
  display: inline-block;
  width: 49%;
  padding-right: 1.4%;
}
#entry_1021099839 {
  width: 100%;
}

#last-name {
  display: inline-block;
  width: 49%;
}
#entry_992463670 {
  width: 100%;
}

#email {
  width: 100%;
}
#entry_1058749846 {
  width: 100%;
}

#address1 {
  width: 100%;
}
#entry_1484968783 {
  width: 100%;
}

#city {
  display: inline-block;
  width: 48%;
  padding-right: 1.4%;
}
#entry_1128557615 {
  width: 100%;
}

#state {
  display: inline-block;
  width: 23.8%;
  padding-right: 1.5%;
}
#entry_1087511055 {
  width: 100%;
}

#zip {
  display: inline-block;
  width: 24.1%;
}
#entry_1111722610 {
  width: 100%;
}

#decision {
  margin-top: 4em;
  /*width: 60%;*/
  width:100%;
  display: inline-block;
  padding-right: 1.5%;
}
#entry_1915915708 {
  width: 100%;
  font-size: 1em;
}

#plusone {
  width: 100%;
  display: inline-block;
}
#entry_158112699 {
  width: 100%;
}


#comments {
  width: 100%;
}
#entry_1914257176 {
  width: 100%;
}

label.error {
  display: list-item;
  color: #ff0600;
  font-size: 12px;
  list-style-position: inside;
  padding: 5px 0 0;
}

/*Submit Button*/
#ss-submit {
  padding: 10px 30px;
  background: white;
  color: black;
  font-size: 1em;
  border-radius: 100px;
  display: block;
  margin: auto;
  margin-top: 2em;
  border: solid 2px black;
}

#ss-submit:hover {
  background: black;
  border: solid 2px black;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .ss-form-question, #first-name, #last-name, #email, #address1, #city, #state, #zip, #decision, #plusone {
    width: 100%;
  }
}

/*Footer*/
footer {
  background-position: 50% 50%;
  background-image: url('seawave_footer.jpg');
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 20em;
}